html { height: 100%; }
body {
	font-family: Arial;
	min-height: 100%;
	min-width: 768px;
	background-color: #ccd8c1;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
main { min-height: 50vh; }

.link {
	text-decoration: none;
	color: white;
}

.text {
	color: #747474;
	margin: 0.25em;
}
.text--m { font-size: 3vh; }
.text--lg { font-size: 8vh; }
.text--centered { text-align: center; }
.text--styled { font-family: 'Pacifico', cursive; }

.btn {
	color: white;
	background-color: #ec7a23;
	padding: 0.5em 2.5em;
	border:#ec7a23;
	border-radius: 3px;
}
.btn:hover { cursor: pointer; }
.btn--sm { font-size: 0.5em; }
.btn--m { font-size: 1em; }
.btn--lg { font-size: 4vh; }
.btn--lg:hover { transform: scale(1.1); transition: 0.5s;}

.footer {
	color: white;
	background-color: #747474;
	display: grid;
	grid-template-columns: 4fr 6fr 2fr;
	padding: 1em;
}
.footer-item { 
	display: flex; 
	flex-direction: column;
	padding: 0em 1.5em;
}
.footer-item--right { align-items: flex-end;}
.footer-item--left { align-items: flex-start; }
.footer-item--centered { align-items: center; justify-content: center;}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
}

/* *************** STYLES FOR INDIVIDUAL SECTIONS ************** */

/* *************** Main from Home Page *************** */
.homepage {
	min-width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 0px;
	padding: 3em;
}

/* *************** Navigation Bar *************** */
.main-nav {
	margin: 0;
	color: white;
	background-color: #444c3c;
	display: flex;
	align-items: flex-end;
}
.push {
	margin-left: auto;
	margin-bottom: 0.075em;
}
.main-nav {
	padding: 0 3rem;
	list-style: none;
}
.main-nav > a {
	padding-bottom: 0.25em;
	cursor: pointer;
}
ul > * { margin: 0 1rem; }

/* *************** Pruducts View *************** */
.products { padding: 1em; }
.products__search {
	list-style: none;
	padding: 0;
	display: flex;
	padding: 10px;
	color: #444c3c;
}

.product__details {
	margin: 1em;
	width: 320px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	border-radius:4px;
    transition: all 0.3s linear;
}
.product__details:hover { box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; }
.product__details__img {
	width: 100%;
	height: 240px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.product__details__title {
	padding: 0 1em;
	font-size: 1.25em;
	align-self: flex-start;
	color: #444c3c;
}
.product__details_btn {
	margin: 1em;
}