:root {
    --main-color: #ccd8c1;			/*background: home, list, details*/
    --primary-color: #747474;		/*text: home, list, details*/
    --secondary-color: white;		/*text: navigation, footer*/
	--third-color: #ec7a23;			/*backgroung: button, text: price*/
	--fourth-color: #444c3c;		/*nav*/
    --hover-color: #ec7a23;			/*navigation links*/
    --main-font: Arial, sans-serif;		/*all text*/
	--title-font: Pacifico, cursive;	/*company name*/
	--small: 12px;					/*btn--sm*/
	--medium: 16px;					/*btn--m*/
	--large: 20px;					/*text--m*/
	--xl: 36px;						/*btn--lg*/
	--xxl: 72px;					/*text--lg*/
}

html { 
	height: 100%; 
	font-size:16px; 
}
body {
	font-family: var(--main-font);
	min-height: 100%;
	background-color: var(--main-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
strong { font-weight: bold; }

.button {
	color: var(--secondary-color);
	background-color: var(--third-color);
	padding: 0.5em 1em;
	border: var(--third-color);
	border-radius: 5px;
	margin: 1em;
}

.button:hover { cursor: pointer; }
/* .btn--sm { font-size: var(--small); } */
.btn--m { font-size: 18px; }
.btn--xl { font-size: 24px; margin: 1.25em 0;}
.btn--xl:hover { transform: scale(1.1); transition: 0.5s;}

.link {
	text-decoration: none;
	color: var(--secondary-color);
	cursor: pointer;
}

.push { 
	margin-left: auto; 
	margin-right: auto;
}

.container { padding: 1em; }

/* ****************************************************************************** */
								/* MAIN HOME */
/* ****************************************************************************** */
.main__home {
	min-height: 75vh; 
	color: var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}
.main__home__title {
	text-align: center;
	font-family: var(--title-font);
	font-size: 56px;
}
.main__home__motto {
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	margin: 1em;
}
@media all and (min-width: 768px) {
	.main__home__title { font-size: 72px; }
	.main__home__motto { font-size: 32px; }
}

/* ****************************************************************************** */
								/* FOOTER */
/* ****************************************************************************** */
.footer {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	   width:100%;
	   padding-bottom: 1.5em;
}
.footer__top {
	display: flex;
	justify-content: center;
	margin: 1.5em;
}
.footer__top__links {
	margin-right: 1em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.footer__top__p {
	display: none;
}
.footer__top__logo {
	margin-left: 1em;
	width: 100px;
	height: 100px;
}
.footer__bottom {
	display: block;
	text-align: center;
}
.footer__bottom__link {
	color: var(--secondary-color);
}
@media all and (min-width: 768px) {
	.footer__top {
		display: grid;
		grid-template-columns: 4fr 6fr 2fr;
	}
	.footer__top__p {
		display: inline;
		padding-left: 1em;
	}
}

/* ****************************************************************************** */
								/* NAV BAR */
/* ****************************************************************************** */
.nav__title {
	font-family: var(--title-font);
	font-size: var(--xl);
}
.nav__list {
	list-style-type: none;
	display: flex;
	align-items: baseline;
}
.nav__list__item {
	padding: 0 20px;
}
.nav {
	color: var(--secondary-color);
	background-color: var(--fourth-color);
	font-size: var(--large);
	/* overflow: hidden; */
	/* position: relative; */
	padding: 1em 1.5em;
  }
.nav #myLinks {
	display: none;
}
.nav a {
	color: white;
	padding: 0.75em 0em 0em 1.5em;
	text-decoration: none;
	display: block;
	text-align: center;
}
.nav a.icon {
	position: absolute;
	right: 1.5em;
	top: 0;
}
.nav a:hover {
	color: var(--hover-color);
}
@media all and (min-width: 768px) {
	.nav {
		display: grid;
		grid-template-columns: 1fr 11fr;
	}
	.nav a.icon {
		display: none;
	}
	.nav #myLinks {
		display: flex;
		padding-left: 1em;
	}
}

/* ****************************************************************************** */
								/* SEARCH BAR */
/* ****************************************************************************** */
.container__search { display: none; }
.search__title {
	color: var(--fourth-color);
	font-size: 32px;
	font-weight: bold;
}
@media all and (min-width: 768px) {
	.container__search {
		display: flex;
		align-items: baseline;
		list-style: none;
		margin: 1em;
	}
}
/* ****************************************************************************** */
								/* MAIN LIST */
/* ****************************************************************************** */
.products-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-items: center;
    color: #747474;
}
/* ******************************** Articles *********************************** */
.article {
	margin: 1em;
	background-color: white;
	border-radius:4px;
	transition: all 0.3s linear;
	display: flex; 
	flex-direction: column;
	align-items: flex-end;
}
.article:hover { box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; }
.article__img {
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.article__title {
	padding: 1em;
	font-size: 1.25em;
	align-self: flex-start;
}

/* ****************************************************************************** */
								/* DETAILS PAGE */
/* ****************************************************************************** */
.container__details {
	padding: 1em;
	color: var(--fourth-color);
}
.details__img {
	width: 100%;
}
.container__details__description {
	display: flex;
	flex-direction: column;
}
.container__details__description strong {
	display: block;
	font-size: 18px;
	text-align: center;
	padding: 1em;
}
.container__details__price {
	padding: 1em 0;	
}
.container__details__price strong {
	color: var(--third-color);
}
.container__details__price button {
	margin: 0;
}
.container__details__price p {
	margin: 1em 0;
}
@media all and (min-width: 768px) {
	.container__details {
		display: flex;
		padding-right: 0;
	}
	.details__img {
		width: 400px;
	}
	.container__details__info {
		padding: 0 1em 0 2em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
}
/* ****************************** Comments ******************************* */
.comment {
	padding: 1em;
}
.comment__img {
	width: 3em;
	height: 3em;
	border-radius: 3em;
	margin-bottom: 0.75em;
}
/* ****************************** Feedback ******************************* */
.container__feedback {
	padding: 1em;
	padding-right: 1.35em;
}
.container__feedback p {
	padding: 1em;
	font-size: 24px;
}
.container__feedback {
	display: flex;
	justify-content: center;
}
.container__feedback label[for] {
	display: none;
}
.container__feedback input, textarea {
	width: 100%;
	margin-bottom: 2em;
}
.container__feedback textarea {
	margin-top: 0.5em;
}
@media all and (min-width: 768px) {
	.container__feedback label[for] {
		display: block;
	}
	.container__feedback input {
		margin-top: 0.5em;
	}
}