:root {
    --main-color: #ccd8c1;		/*background: home, list, details*/
    --primary-color: #747474;	/*text: home, list, details*/
    --secondary-color: white;	/*text: navigation, footer*/
    --third-color: #ec7a23;		/*backgroung: button, text: price*/
    --hover-color: #ec7a23;		/*navigation links*/
    --main-font: Arial, sans-serif;		/*all text*/
	--title-font: Pacifico, cursive;	/*company name*/
	--small: 12px;			/*btn--sm*/
	--medium: 16px;				/*btn--m*/
	--large: 20px;				/*text--m*/
	--xl: 36px;				/*btn--lg*/
	--xxl: 72px;			/*text--lg*/
}

html { 
	/* height: 100%;  */
	font-size:16px; 
}
body {
	font-family: var(--main-font);
	/* min-height: 100%; */
	background-color: var(--main-color);
	margin: 0;
}

.btn {
	color: var(--secondary-color);
	background-color: var(--third-color);
	padding: 0.5em 1em;
	border: var(--third-color);
	border-radius: 5px;
}
.btn:hover { cursor: pointer; }
.btn--sm { font-size: var(--small); }
.btn--m { font-size: var(--medium); }
.btn--xl { font-size: var(--xl); margin: 1.25em 0;}
.btn--xl:hover { transform: scale(1.1); transition: 0.5s;}

.link {
	text-decoration: none;
	color: var(--secondary-color);
	cursor: pointer;
}

/* ************************************************************ */
						/* HOMEPAGE */
/* ************************************************************ */
.main__home {
	min-height: 75vh; 
	color: var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}
.main__home__title {
	text-align: center;
	font-family: var(--title-font);
	font-size: var(--xxl);
}
.main__home__motto {
	font-size: var(--large);
	text-align: center;
	line-height: 1.5;
	margin: 1em;
}
/* ************************************************************ */
						/* FOOTER */
/* ************************************************************ */
.footer {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	padding: 1em;
	/* min-height: 25vh; */
	position:absolute;
   	bottom:0;
   	width:100%;
}
.footer__top {
	display: flex;
	justify-content: center;
	padding-bottom: 1em;
}
.footer__top__links {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.footer__top__p {
	display: none;
}
.footer__top__logo {
	padding: 0em 2em;
	width: 100px;
	height: 100px;
}
.footer__bottom {
	margin-top: 1em;
	display: block;
	text-align: center;
}
.footer__bottom__link {
	color: var(--secondary-color);
}
@media all and (min-width: 768px) {
	.footer__top {
		display: grid;
		grid-template-columns: 4fr 6fr 2fr;
	}
	.footer__top__p {
		display: inline;
		padding-left: 2em;
	}
}





.text--m { font-size: var(--lg-font); }
.text--lg { font-size: var(--xxl-font); }
.text--centered { text-align: center; }
.text--styled { font-family: var(--title-font); }


.container { padding: 0 3em; margin: 0;}
.container__list {
	display: flex;
	align-items: baseline;
	list-style: none;
}
.push { margin-left: auto; margin-right: auto;}
.green { color: #444c3c; }
.gray { color: #747474; }
.price--color { color: #ec7a23; }
.no-margin { margin:  0;}
.margin1 { margin: 1em; }
.margin3 { margin: 3em; }
.pad1 { padding: 0em 1em; }
.flex { display: flex; }
.flex--center { justify-content: center; }
.flex__col { display: flex; flex-direction: column; }
.flex__col--left { align-items: flex-start; }
.flex__col--right { align-items: flex-end; }
.flex__col--centered { align-items: center; justify-content: center; }
.flex__col--center-around { align-items: center; justify-content: space-around; }
.flex__col--between { justify-content: space-between; }


/* .b {
	border: 2px solid red;
}
.block { display: block; } */

/* *************** Navigation Bar *************** */
.nav {
	color: white;
	background-color: #444c3c;
	
}
ul > li { margin: 0 1em; }  /*WHY I can't use a class here? If I do, it disables the push class!!!*/


/* *************** Pruducts View *************** */
.products-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    color: #747474;
}
.article {
	margin: 1em;
	background-color: white;
	border-radius:4px;
    transition: all 0.3s linear;
}
.article:hover { box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; }
.article__img {
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.article__title {
	padding: 0 1em;
	font-size: 1.25em;
	align-self: flex-start;
}


/* *************** Product Details *************** */
.comment__img {
	width: 3em;
	height: 3em;
	border-radius: 3em;
	padding: 0.75em;
}
.feedback-box {
	width: 300px;
}